@media screen and (min-width: 480px) {
  img {
    width: 7vw;
    background-color: white;
  }

  .prize-box {
    width: 13vw;
    height: fit-content;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 8px 95px -39px rgba(0, 0, 0, 1);
    border-radius: 10px;
  }
  button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }

  .id_hadiah {
    font-size: 22px;
    font-weight: bold;
  }

  .pemenang {
    font-weight: bold;
    font-size: 14px;
    color: #4caf50;
  }
  .nama_pt {
    font-size: 10px;
  }
}
@media screen and (min-width: 900px) {
  .prize-box {
    width: 15vw;
    height: fit-content;
    padding: 5px;
    margin: 5px;
    background-color: white;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 8px 95px -39px rgba(0, 0, 0, 1);
    border-radius: 10px;
  }
  img {
    width: 4vw;
    background-color: white;
  }
  .nama_pt {
    font-size: 15px;
  }
  
  .id_hadiah {
    font-size: 30px;
    font-weight: bold;
  }

  .pemenang {
    font-weight: bold;
    font-size: 24px;
    color: #4caf50;
  }
}
@media screen and (min-width: 1200px) {
  .prize-box {
    width: 20vw;
    height: fit-content;
    padding: 5px;
    margin: 5px;
    background-color: white;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 8px 95px -39px rgba(0, 0, 0, 1);
    border-radius: 10px;
  }
  img {
    width: 20vw;
    background-color: white;
  }

  button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }

  .id_hadiah {
    font-size: 30px;
    font-weight: bold;
  }

  .pemenang {
    font-weight: bold;
    font-size: 24px;
    color: #4caf50;
  }
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: fit-content;
}

.container {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prize-pool {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.buttons {
  justify-content: center;
}
.prize-box p {
  background-color: white;
}

#upload {
  visibility: hidden;
}

#eliminasi {
  background-color: #FFB72B;
}